*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100%;
    height: 100vh;
    background-color: lightgreen;
    display: flex;

}
.container{
    width: 50%;
    height: 80%;
    background-color: white;
    margin: auto;
    overflow: auto;
    border-radius: 20px;
}
.header{
    padding: 1em 3em;
    background-color: green;
}
.text{
    border-radius: 20px;
    width: 30%;
    height: 30px;
}
.add{
    padding: 1em 3em;
    background-color: limegreen;
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 3em;
}
li{
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding: 1em 0.5em;
    background-image: linear-gradient( #b5ff8a, #ffffff 50%,#b5ff8a) ;
}
.checked{
    text-decoration: line-through;
}
.remove-icon{
    color: red;
}
.green{
    color: green;
}
.fa-plus-circle{
    font-size: 2em;
    vertical-align: middle;
}
.fa-plus-circle:hover, .fa-check-circle:hover, .fa-times-circle:hover{
    cursor: pointer;
}